# Employee Attrition Analysis

Some PEP 8 good coding practice in python

https://www.python.org/dev/peps/pep-0008/

Identation

    Use a 4-spaces indentation, and either tab xor space, don't mix'em.
    Use Hanging indentation for parenthesized code (but not for IF-statement conditional part)
    The last brace/bracket/parenthesis on multiple line construct may either: line up under the first non-whitespace character of the last line of, or: be lined up under the first character of the line that starts the multiline construct.

Code wrapping

    Limit all line to 79 characters max (72 for docstrings and comments)
    For breaking into multiple lines, Use Parenthesized code instead of backslashes (but in the case of with-statements and assert-statements).
    Break lines before binary operators

Blank lines

    2 blank lines for top-level function and class definitions
    1 blank line for methods definitions inside a class
    Extra blank lines to separate groups of related functions
    Use a blank line to indicate a logical section

Imports

    1/line, but when starting with a 'from'.
    allways at the top of the file, after module comments and docstrings, before
    Groups of imports are Standard library, related 3rd party, local app/library specific with blank separation
    Use explicit absolute import, and avoid wildcard import (from <module import *)

White spaces

    °spam( ham[ 1 ], -> spam(ham[1], °foo = (0, ) -> foo = (0,) °x , y -> x, y
    ham[:9:3] (when whatever arg is omitted), but ham[lower + offset : upper + offset] when all args appear.
    Surround the binary operators with a single space on either side: x = 1; restricted to lowest priority ones in a multi-operator expression: c = (a+b) * (a-b)

Function annotations

    Rules on colons & arrow: def munge(input: AnyStr): ... | def munge() -> PosInt: ...
    Rules on spaces: def complex(real, imag=0.0): | return magic(r=real, i=imag)

Comments

    Comments are not to contradict the code: update comments !
    Inline comments shouldn't state the obvious
    Block comments are indented the the same level as the code.
    """Docstrings are intended for public modules, classes, functions, methods

Naming conventions

    CapWords or mixedCaps are conventions
    If conflict in lowercase names, rather append a trailing underscore: class_
    One leading underscore for non-public methods and instance variables: _myprivatefunc
    Double leading underscore to avoid name conflicts with attributes in classes

Programming recommendations

    Use def f(x): return 2x instead of f = lambda x: 2x
    If any return statement returns an expression, any return statements where no value is returned should explicitly state this as return None, and an explicit return statement should be present at the end of the function (if reachable).
    Use ''.starts(/ends)with, instead of slices comparisons
    Use if isinstance(obj, anObjectType): instead of direct type comparison
    For sequences (strings, lists, tuples) use the fact that empty ones are FALSE: if seq: | if not seq:

In [2]:
#Load the dataset and analyze

import pandas as pd
import os
import tensorflow as tf
import numpy as np

attrition_data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

print("Data Loaded:\n------------------------\n",attrition_data.dtypes)
attrition_data.head()

Data Loaded:
------------------------
 Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2